@import "tailwindcss";

@font-face {
  font-family: "Marynata";
  src: url("../fonts/Marynata-Regular.woff") format("woff");

}

:root {
  --color-primary:#F5540A; /* borders, fills, big text*/
  --color-secondary: #50c7ff; /* borders, fills, text complementary*/ /* background for soft buttons */
  --color-base: #000d13; /* base text color */
  --color-base-light: #f3fafe;
  --color-accent: #db3106;
  --color-bg-primary: hsl(0, 0%, 100%);
  --color-bg-secondary: hsl(0, 0%, 85%);
  --font-family-base: "Marynata", sans-serif; /* Base font family */
  /* hovers */
  --color-primary-dark: #0086c5;
  --color-accent-dark: hsl(0, 100%, 30%);
  --color-muted-dark: hsl(0, 0%, 40%);
}


body {
  background-color: var(--color-bg-primary);
  font-family: var(--font-family-base);
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}

a:hover {
  color: var(--color-primary-dark);
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);
  --color-base: var(--color-base);
  --color-base-light: var(--color-base-light);
  --color-accent: var(--color-accent);
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --font-family-base: var(--font-family-base);
  --color-primary-dark: var(--color-primary-dark);
  --color-accent-dark: var(--color-accent-dark);
  --color-muted-dark: var(--color-muted-dark);
}
